{% for hi in height %}
<div class="row">
    {% for wi in width %}
        <div class="cell-md-1 text-center" style="width: auto; padding: 26px; border: 1px solid #1abc9c;"></div>
    {% endfor %}
</div>
{% endfor %}
<script>
function Dynamo ( seconds=1 ) {
    return window.setInterval(
        function () {
            for ( div of $("div.row") ) {
                for ( c of div.querySelectorAll("div") ) {
                    c.className = [
                        'cell-md-1 text-center ',
                        GetColor( Math.round(Math.random() * 81) )
                    ].join('');
                };
            };
    }, 1000 * seconds );
};
Dynamo();
</script>