<script crossorigin="anonymous"
        integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
<script crossorigin="anonymous"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="{{ static }}/css/desktop/start.css" rel="stylesheet"/>
<body class="bg-dark fg-white h-vh-100 m4-cloak">
<div class="container-fluid start-screen h-100">
    <h1 class="start-screen-title"><a class="fg-teal" href="https://circuitalminds.github.io/">Home</a></h1>
    <div class="tiles-area clear">
        <div class="tiles-grid tiles-group size-2 fg-white" data-group-title="Propietary and Organization">
            <a class="bg-teal" data-cover="{{ static }}/images/avatar.jpg" data-role="tile"
               href="https://alanmatzumiya.github.io/"><span class="branding-bar">Alan Matzumiya</span>
            </a>
            <a class="bg-teal" data-cover="https://circuitalminds.github.io/static/images/blog/posts/fractalmind.jpg"
               data-role="tile" href="https://circuitalminds.github.io/blog/"><span class="branding-bar">
                Circuital Minds</span>
            </a>
            <div class="bg-teal" data-effect="image-set" data-role="tile" data-size="wide">
                {% for tile in images['tiles'][:8] %}
                    <img src="{{ tile }}"/>
                {% endfor %}
            </div>
            <div class="bg-teal" data-effect="image-set" data-role="tile" data-size="wide">
                {% for tile in images['tiles'][8:] %}
                    <img src="{{ tile }}"/>
                {% endfor %}
            </div>
        </div>
        <div class="tiles-grid tiles-group size-2 fg-white" data-group-title="Music App">
            {% for thumbnail in images['thumbnails'] %}
                <div class="bg-teal" data-cover="{{ thumbnail }}" data-role="tile"></div>
            {% endfor %}
            <div class="bg-dark border bd-teal" data-role="tile" data-size="small">
                <span class="mif-previous icon fg-darkTeal border bd-teal"></span>
            </div>
            <div class="bg-dark border bd-teal" data-role="tile" data-size="small">
                <span class="mif-next icon fg-darkTeal border bd-teal"></span>
            </div>
            <div class="bg-dark border bd-teal" data-role="tile" data-size="small">
                <span class="mif-play icon fg-darkTeal border bd-teal"></span>
            </div>
            <div class="bg-dark border bd-teal" data-role="tile" data-size="small">
                <span class="mif-stop icon fg-darkTeal border bd-teal"></span>
            </div>
        </div>
        <div class="tiles-grid tiles-group size-2 fg-white" data-group-title="Python Console">
            <a class="bg-teal fg-yellow"
               data-cover="https://circuitalminds.github.io/static/images/desktop/mandelbrot.gif" data-role="tile"
               href="https://circuitalminds.github.io/pyfullstack/">
                <span class="branding-bar">pyFullStack</span>
            </a>
            <a class="bg-teal fg-yellow" data-cover="https://circuitalminds.github.io/static/images/desktop/julia.gif"
               data-role="tile" href="https://circuitalminds.github.io/pyfullstack/">
                <span class="branding-bar">pyFullStack</span>
            </a>
            <a class="bg-teal" data-cover="https://circuitalminds.github.io/static/images/desktop/zeta_function.gif"
               data-role="tile" href="https://circuitalminds.herokuapp.com/">
                <span class="branding-bar">FractalMetric</span>
            </a>
            <a class="bg-teal fg-brown"
               data-cover="https://circuitalminds.github.io/static/images/desktop/elephant_valley.png" data-role="tile"
               href="https://matsuhub.herokuapp.com/">
                <span class="branding-bar">matsuHub</span>
            </a>
        </div>
        <div class="tiles-grid tiles-group size-2 fg-white" data-group-title="Apps">
            <a class="bg-teal" data-role="tile" href="/github">
                <span class="mif-github icon"></span>
                <span class="branding-bar">Github</span>
                <span class="badge-bottom">30</span>
            </a>
            <div class="bg-teal" data-role="tile"><span class="mif-envelop icon"></span>
                <span class="branding-bar">Chat</span>
                <span class="badge-bottom">10</span>
            </div>
            <a class="bg-teal" data-role="tile" href="/github"><span class="mif-github icon"></span>
                <span class="branding-bar">Storage</span>
                <span class="badge-bottom">30</span>
            </a>
            <div class="bg-teal" data-role="tile"><span class="mif-envelop icon"></span>
                <span class="branding-bar">Email</span>
                <span class="badge-bottom">10</span>
            </div>
        </div>
    </div>
</div>
</body>
<script src="{{ static }}/js/desktop/start.js"></script>
<script>
$(function () {
    SetImageView('{{ static }}');
});
</script>