<div class="pos-fixed fixed-top app-bar-wrapper z-top">
    <header class="row pos-relative bg-darkTeal fg-teal" data-role="appbar" data-expand-point="md">
        <a href="#" class="brand no-hover fg-white-hover cell-md-1 order-1"><span class="mif-github mif-2x"></span></a>
        <div class="app-bar-item d-none d-flex-md cell-md-3 order-2">
            <input type="text" placeholder="Search" class="cell-md-12 app-bar-input app-bar-search">
        </div>
        <ul class="app-bar-menu order-4 order-md-3">
            {% for item in ['Applications', 'Websites'] %}
            <li><a href="#" class="fg-white-hover">{{ item }} </a></li>
            {% endfor %}
            <li>
                <div id="timer" class="fg-white-hover"></div>
            </li>
        </ul>
        <div class="app-bar-container ml-auto order-3 order-md-4">
            <input id="change-color" type="checkbox" class="app-bar-item" data-role="switch" data-caption="Style"
                data-cls-switch="bd-teal" data-cls-caption="fg-teal fg-white-hover text-bold"
                data-cls-check="bd-light bg-teal">
            <a href="#" class="app-bar-item"><span class="mif-bell"></span></a>
            <div class="app-bar-container">
                <a class="app-bar-item dropdown-toggle marker-light" href="#"><span class="mif-plus"></span></a>
                <ul class="d-menu place-right" data-role="dropdown">
                    {% for item in ['New Repository'] %}
                    <li><a href="">{{ item }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="app-bar-container">
                <a class="app-bar-item dropdown-toggle marker-light pl-1 pr-5" href="#">
                    <img alt="@CircuitalMinds" width="20" height="20"
                        src="https://avatars.githubusercontent.com/u/75770878?s=400&u=4ca8d3358eb1f584e0b5d893b7ecc61d754a337c&v=4"
                        class="rounded">
                </a>
                <ul class="v-menu place-right" data-role="dropdown">
                    <li><a href="">Signed as <strong>circuitalminds</strong></a></li>
                    {% for item in ['Your profile', 'Your stars', 'Your gists', 'Help', 'Settings', 'Sign out'] %}
                    <li><a href="">{{ item }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </header>
</div>