<div class="pt-16 bg-secondary bd-light" id="hero">
    <div class="container">
        <div class="row">
            <div class="cell-md-4 text-center-fs text-left-md pt-2">
                <div>
                    <span class="mif-books"></span>
                    <a href="#"><span id="github-owner">CircuitalMinds</span> / <span
                            id="github-project">circuitalminds.github.io</span></a>
                </div>
            </div>

            <div class="cell-md-8 text-center-fs text-right-md pt-2">
                {% for item, data in {
                'Unwatch': {'id': 'watch', 'icon': 'eye', 'value': 0},
                'Star': {'id': 'star', 'icon': 'star-full', 'value': 0},
                'Fork': {'id': 'fork', 'icon': 'flow-tree', 'value': 0}
                }.items() %}
                <div class="info-button rounded">
                    <a href="#" class="button bg-darkTeal"><span class="mif-{{ data.icon }}"></span> {{ item }}</a>
                    <a href="#" class="info" id="github-{{ data.id }}">{{ data.value }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid pt-4 pl-0 pr-0 pl-3-md pr-3-md">
        <div class="container">
            <ul data-role="tabs" class="bg-light w-100 pl-0 pr-0" data-expand-point="md">
                {% for item, icon in {
                'Code': 'embed',
                'Issues': 'info',
                'Pull requests': 'flow-branch',
                'Projects': 'library',
                'Wiki': 'wikipedia',
                'Settings': 'chart-bars',
                'Insights': 'cog'
                }.items() %}
                <li><a href="#"><span class="mif-{{ icon }}"></span>{{ item }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>