<link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet"/>
<link rel="manifest" href="{/static/favicon.ico/manifest.json">
{% for s in [36, 45, 72, 96, 144, 192] %}
<link rel="icon" type="image/png" sizes="{{ s }}x{{ s }}"  href="/static/favicon.ico/android-icon-{{ s }}x{{ s }}.png">
{% endfor %}
<link rel="apple-touch-icon" href="/static/favicon.ico/apple-icon.png">
{% for s in [57, 60, 72, 76, 114, 120, 144, 152, 180] %}
<link rel="apple-touch-icon" sizes="{{ s }}x{{ s }}" href="/static/favicon.ico/apple-icon-{{ s }}x{{ s }}.png">
{% endfor %}
<link rel="apple-touch-icon" href="/static/favicon.ico/apple-icon-precomposed.png">
<link rel="icon" href="/static/favicon.ico/favicon.ico">
{% for s in [16, 32, 96] %}
<link rel="icon" type="image/png" sizes="{{ s }}x{{ s }}" href="/static/favicon.ico/favicon-{{ s }}x{{ s }}.png">
{% endfor %}
<meta name="msapplication-TileColor" content="#1abc9c">
{% for s in [70, 144, 150, 310] %}
<meta name="msapplication-TileImage" content="/static/favicon.ico/ms-icon-{{ s }}x{{ s }}.png">
{% endfor %}
<meta name="theme-color" content="#1abc9c">