{% assign app=site.data.app.vahngraff %}
{% assign player=app.player %}
{% assign search=app.search %}
{% for src in app.scripts %}
<script src="{{ src }}"></script>
{% endfor %}
{% include modules/math.html %}
<h3 class="cell-md-12 card-header fg-teal" id='video-title'></h3>
<div class="row">
  <div id="logo" class="cell-md-3 text-center bg-dark" style="color: #9e0843;">
      {{ site.title | replace:' | ', '' }} | {{ page.title }}
  </div>
  <input id="query" type="text" class="cell-md-4" placeholder="Search for video..">
  <button onclick="$('#query')[0].value='';" class="cell-md-1 bg-dark fg-light"><span class="mif-cross-light"></span></button>
  <div class="cell-md-2 text-center" style="color: #9e0843; border: 5px solid gray; margin: 0; padding: 10px;" id="clock"></div>
  <div class="cell-md-2 text-center" style="color: #9e0843; border: 5px solid gray; margin: 0; padding: 10px;" id="date"></div>
</div>
<div class="row">
    <div class="cell-md-4">
        <div class="p-2 multi-action">
            <button class="action-button rotate-minus bg-teal fg-white" onclick="$(this).toggleClass('active')">
                <span class="icon"><span class="mif-apps"></span></span>
            </button>
            <ul class="p-2 actions drop-right">
            {% for btn in app.buttons %}
                <li id="{{ btn.id }}" onclick="{{ btn.onclick }}" class="bg-teal"><a><span class="{{ btn.icon }}"></span></a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="cell-md-2">
        <input id="random" class="p-2"
               type="checkbox"
               data-role="switch"
               data-caption="Random"
               data-cls-switch="mySwitch"
               data-cls-caption="fg-teal text-bold"
               data-cls-check="bd-teal myCheck">
    </div>
</div>
<div class="row mt-2">
{% assign data_icon="<span class='ICON fg-cyan'></span>" %}
<video id="{{ player.id }}"
       data-video-selected="0"
       class="cell-md-8 bg-light fg-cyan"
       data-aspect-ratio="hd"
       data-role="video-player"
       data-volume="1"
       data-on-end="Player.Next();"
       data-on-play="this.play();"
       data-on-pause="this.pause();"
       onchange="this.play();"
       {% for i in player.icons %}data-{{ i[0] }}-icon="{{ data_icon | replace:'ICON',i[1] }}"{% endfor %}
></video>
    <div class="cell-md-4">
    <ul id="feeds" class="group-list feed-list"></ul>
    </div>
</div>
<div class="row mt-2">
{% assign m_id=search.id %}
{% assign m_header=search.header %}
{% assign m_body=search.body %}
{% assign m_footer=search.footer %}
{% assign btn_id=search.btn_id %}
{% include snippets/modal.html id=m_id header=m_header body=m_body footer=m_footer btn_id=btn_id %}
</div>
<script>
let Player = new Object();

Player.ID = '{{ player.id }}';
Player.Poster = '{{ player.poster }}';
Player.Data = {};
Player.randomMode = false;

Player.setMode = function () {
    this.randomMode = $("#random")[0].checked;
};
Player.Title = {
    get: function () {
        return $("#video-title")[0];
    },
    set: function ( title ) {
        this.get().innerHTML = title;
    }
};
Player.Vol = {
    setPlus: function () {
        vol = $("#" + Player.ID)[0].volume * 100;
        if ( vol < 100 ) {
            vol += 10;
        } else {
            vol = 100;
        };
        $("#" + Player.ID)[0].volume = vol / 100;
    },
    setMinus: function () {
        vol = $("#" + Player.ID)[0].volume * 100;
        if ( vol > 0 ) {
            vol -= 10;
        } else {
            vol = 0;
        };
        $("#" + Player.ID)[0].volume = vol / 100;
    }
};

Player.getVideo = function ( Index ) {
    title = Object.keys(this.Data)[Index];
    video = this.Data[title];
    this.getMetadata( video );
    if ( video.title == undefined ) {
        video.title = title;
    };
    video.title = video.title.replace(".mp4", "").replace(".wmv", "");
    return video;
};
Player.getRandomVideo = function () {
    videoIndex = Math.round( Math.random() * ( Object.keys(this.Data).length - 1 ) );
    video = this.getVideo(videoIndex);
    video.index = videoIndex;    
    return video;
};
Player.getMetadata = function ( video ) {
    Attrs = ["name", "property", "itemprop"];
    Contents = ["title", "og:title", "og:image", "duration", "keywords"];
    function setData ( x, y ) {
        attrName = ( x[y] ) ? Contents[Contents.indexOf(x[y])] : undefined;
        if ( attrName != undefined ) {
            keyName = ( attrName.indexOf(":") != -1 ) ? attrName.split(":")[1] : attrName;
            if ( video[keyName] == undefined ) {
                video[keyName] = x.content;
            };
        };
    };
    for ( x of video.metadata ) {
        Attrs.map( y => setData(x, y) );
    };
    if ( video.duration != undefined ) {
        video.duration = video.duration.replace("PT", "").replace("M", ":").replace("S", ":0");
    };
    if ( video.image == undefined ) {
        video["image"] = this.Poster;
    };
};

Player.Start = function () {
    obj = $("#" + this.ID)[0];
    setTimeout(function() {
        obj.play();
        $("#results")[0].style.display = "none";
    }, 500);
};
Player.Next = function () {
    obj = $("#" + this.ID)[0];
    this.setMode();
    Index = parseFloat(obj.dataset.videoSelected) + 1;
    Video = ( this.randomMode ) ? this.getRandomVideo() : this.getVideo( Index );
    obj.setAttribute("src", Video.url);
    obj.dataset.videoSelected = Index;
    this.Title.set(Video.title);
    this.Start();
};
Player.Previous = function () {
    obj = $("#" + this.ID)[0];
    this.setMode();
    Index = parseFloat(obj.dataset.videoSelected) - 1;
    Video = ( this.randomMode ) ? this.getRandomVideo() : this.getVideo( Index );
    obj.setAttribute("src", Video.url);
    obj.dataset.videoSelected = Index;
    this.Title.set(Video.title);
    this.Start();
};
Player.Select = function ( Index ) {
    obj = $("#" + this.ID)[0];
    this.setMode();
    Video = this.getVideo( Index );
    obj.setAttribute("src", Video.url);
    obj.dataset.videoSelected = Index;
    this.Title.set(Video.title);
    this.Start();
};

Player.Feeds = {
    "id": "feeds",
    "delay": 10e3,
    "getFeed": function () {
        v = Player.getRandomVideo();    
        return `<li class="button card-content bg-darkTeal bg-dark-hover fg-light"
                    onclick="Player.Select( ${v.index} );">
            <img class="avatar" src="${v.image}">
            <span class="label">${v.title}</span>
            <span class="second-label">${v.duration}</span>
        </li>`;     
    },
    "setFeed": function ( Id, getFeed ) { 
        $("#" + Id)[0].innerHTML = Range(0, 4).map(
            i => getFeed() 
        ).join("\n");
    },
    "display": function () {
        setInterval( 
            this.setFeed, 
            this.delay, 
            this.id, 
            this.getFeed 
        );
    }
}; 




$( function () {
    requestObj.get(
        '{{ player.url_data }}',
        function ( data ) { Player.Data = data }
    );
    $('#{{ player.id }}')[0].poster = '{{ player.poster }}';
    $("#palette-top")[0].innerHTML =  [
        '<div class="cell-md-12 h-100" ',
        'style="' + Colors.getGradient() + '">',
        '</div>'
    ].join("");
    $("#palette-bottom")[0].innerHTML =  [
        '<div class="cell-md-12 h-100" ',
        'style="' + Colors.getGradient( Reverse=true ) + '">',
        '</div>'
    ].join("");
    setJekyllSearch("videos");
    Player.Feeds.display();
});
</script>
